.fph-card-100 {
    background-color: rgba(246, 248, 251, 0.5) !important;
    border: 1px solid #d2d3d4;
    border-radius: 4px;
    padding: 10px 16px;
    height: 100%;
    box-shadow: none !important;
  }
  .fph-card {
    background-color: rgba(246, 248, 251, 0.5) !important;
    border: 1px solid #d2d3d4;
    border-radius: 4px;
    padding: 10px 16px;
    box-shadow: none !important;
  }

  .border-tr {
    border-left: 4px solid #0eb196 !important;
  }
  .border-around{
    border: 1px solid #0eb196 !important;
    border-radius: 1px;
  }